@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  @apply select-none;
}
@font-face {
  font-family: "deathStar";
  src: url("../public/fonts/Death_Star.otf");
}
@font-face {
  font-family: "dumbledor";
  src: url("../public/fonts/dum1.ttf");
}
.active {
  @apply bg-violet-950 text-white rounded-md p-2;
}
