.reg-box {
  background-color: aquamarine;
  width: 300px;
  height: max-content;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.input-div {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 10% 80%;
  font-family: fantasy;
  align-items: center;
}
.input-div-sex {
  display: grid;
  font-family: fantasy;
  grid-template-columns: 10% 40% max-content;
  align-items: start;
}

.input-div-sex input {
  height: 20px;
}

input {
  width: 90%;
  height: 30px;
}
.head {
  font-weight: bolder;
  font-size: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}
@media (max-width: 700) {
  .reg-box {
    width: 100%;
  }
}
